@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0C190E;
  --action: #73FF88;
}

body {
  color: #fff;
  background: var(--background);
  font-family: "Tektur", Arial, Helvetica, sans-serif;
}

.mainContent {
  @apply flex flex-col items-center;
}

.verticalCenter {
  @apply justify-center;
}